/* -------------------------------------- *\
    Main Variables file
\* -------------------------------------- */

// Colors
@color-primary: #F58320;
@color-secondary: #333434;
// @color-accent: # ;
@white:#fff;
@black:#000;

/* -------------------------------------- *\
    Sizing (containers, margins, etc.)
\* -------------------------------------- */
@container: 980px;
@gutter-big: 15px;

/* -------------------------------------- *\
    Fonts
\* -------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700);
@font-primary:'Exo 2', sans-serif;
@font-secondary: ;
@font-size: ;

